// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Noto Sans Kufi Arabic";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #5718c4;
$body-bg: #f5f9fc;
$btn-border-radius: 0;
$card-border-radius: 0;
$card-border-radius: 0;
$link-color: #000001;
